name: Run tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7.7
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Set up cache
      uses: actions/cache@v2
      id: cache-step 
      env:
        CACHE_NUMBER: 2
      with:
        path: |
          /usr/share/miniconda/envs/agmip
        key: ${{ runner.os }}-${{ hashFiles('ubuntu-environment.yml') }}-v${{ env.CACHE_NUMBER }}
    - name: Create conda environment when there's a cache miss
      if: steps.cache-step.outputs.cache-hit != 'true'
      run: |
        conda env create -f ubuntu-environment.yml -n agmip
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        conda run -n agmip flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        conda run -n agmip flake8 . --count --exit-zero --max-complexity=10 --max-line-length=120 --statistics
    - name: Prepare selenium 
      uses: nanasess/setup-chromedriver@v1.0.5
    - name: Run headless chrome driver for selenium
      run: |
        chromedriver --url-base=/wd/hub &
    - name: Run notebook server
      run: |
        conda run -n agmip jupyter notebook &
    - name: Test
      run: |
        conda run -n agmip pytest tests/test_nbserver.py
        # conda run -n agmip pytest tests/test_web.py

